
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/dancingscript/v16/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSo3Sup8.woff2') format('woff2');
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/josefinsans/v17/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMZhLw.woff2') format('woff2');}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}

.header a {
    padding: 10px;
    color: white;
    font-family: 'Dancing Script', cursive;
}

.header a:hover,
#menu a:hover {
    font-weight: bold;
    color: beige;
}

img {
    height: 75px;
    width: 75x;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    width: 100%;
}

.welcome {
    text-align: center;
    line-height: 50%;
    height: 86vh;
    color: white;
    font-family: 'Dancing Script', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.welcome::before {
    content: "";
    background-image: url('https://lh3.googleusercontent.com/MB9-lqGTfKtGVNek0wE3ugqZ4b3-qT1lO46aKBGM0tL9ZJJo1E_qRYsMU6tKAH2RxB8cexxkKF8eFLBkiQ=w1080-h608-p-no-v0');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 90%;
    filter: brightness(50%);
    z-index: -1;
}

.welcome h1 {
    font-size: 85px;
}

.welcome p {
    font-size: 40px;
    padding-bottom: 125px;
}

.gallery {
    display: flex;
    height: 75vh;
}

.image {
    width: 33.33%;
    height: auto;
}
.image img {
    width: 100%;
    height: 100%;
}

#about {
    background:linear-gradient(35deg, #D8B5FF, #1EAE98);
    height: 75vh;
    padding-top: 40px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    background: url('https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
}

.food,
.drink {
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: 35px;
    font-weight: bold;
}

.food-list ul,
.drink-list ul {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 25px;
    margin-top: 20px;
    gap: 10px;
}

.menu-type {
    padding: 10px;
}

.food-list a,
.drink-list a {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    color: black;
    padding: 10px;
}

#contact {
    display: flex;
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
    justify-content: space-evenly;
    background: url('https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
}

.left-side,
.right-side {
    display: flex;
    flex-direction: column;

}

.title {
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    border-top: black 5px solid;
    border-bottom: black 5px solid;
    padding: 15px;
    text-align: center;
}


.details {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 5px;
    line-height: 50px;
    font-size: 23px;
}

.logo {
    border: solid darkblue 3px;
    border-radius: 50%;
    color: white;
    background: darkblue;
    width: 9%;
    text-align: center;
    font-family: sans-serif;
    font-size: 75px;
    align-self: flex-end;
    margin-bottom: 15px;
}

.footer {
    padding: 15px;
    text-align: center;
    font-size: 12px;
    background: rgb(6, 6, 73);
    color: white;
}